{{#with image}}
<div class="row">
  <div class="span12">
    <h2>
      <div class="pull-right" data-hull-component="like_button@hull" data-hull-id="{{id}}"></div>
      {{name}}
    </h2>
    <p>
      By {{actor.name}} – {{fromNow created_at}}
    </p>
  </div>
  <div class="span6">
    <img src="{{imageUrl id 'medium'}}"  />
    <p>{{description}}</p>
    <h5>Selection</h5>
    <ul class="nav nav-tabs nav-stacked">
      {{#each extra.selection}}
        <li>
          <a href="{{uid}}" target="store" class="list-group-item">
            <img src="{{extra.image}}" width="36" />
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="span6">
    <h3>Comments</h3>
    <div data-hull-component="comments@hull" data-hull-id="{{id}}"></div>
  </div>
</div>
{{/with}}
