<h1>Selection</h1>

{{#if selection}}
<div class="row-fluid well text-center">
  {{#each selection}}
    <div class="span4">
      <img src="{{extra.image}}" width="120px"/>
      <h5>{{name}}</h5>
    </div>
  {{/each}}
</div>

{{#if complete}}
<form>
  <fieldset>
    <legend>Save your Selection</legend>
    <label>Give it a name</label>
    <input type="text" class="input-block-level js-claudie-selection-name" value="{{me.name}} selection">
    <label>and a description</label>
    <textarea type="text" class="input-block-level js-claudie-selection-description"></textarea>
    <a href="#" data-hull-action="submit" class="btn btn-primary btn-lg btn-block">Submit</a>
  </fieldset>
</form>
{{/if}}
{{else}}
<div class="well">
  Add some products to your selection
</div>
{{/if}}