<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{selection.name}}</h3>
    <p class="muted">by {{selection.actor.name}}</p>
  </div>
  <div class="modal-body">
    <p>{{selection.description}}</p>
    <div class="row-fluid">
      <ul class="thumbnails">
        {{#each selection.extra.selection}}
        <li class="span4">
          <div class="thumbnail">
            <a href="{{uid}}" target="store">
              <img src="{{extra.image}}" alt="{{name}}" />
              <h5>{{name}}</h5>
            </a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>