<div class="hero-unit">
  <div class="pull-right" data-hull-component="identity@hull"></div>

  <h1>
    Claudie Pierlot
  </h1>
  <p>Create your own compositions !</p>

  {{#if loggedIn}}
    <p><a href="#submit" class="btn btn-primary btn-large">Make your selection!</a></p>
  {{/if}}
</div>

{{#if loggedIn}}
  <div class="row">
    <div class="span9" data-hull-component="list"></div>
    <div class="span3" data-hull-component="activity@hull" data-hull-object_type="Comment"></div>
  </div>
{{else}}
  <div class="alert alert-warning">Sign in to play</div>
{{/if}}

