<ul class="thumbnails row">
  {{#each images}}
    <li class="span2">
      <div class="thumbnail">
        <a href="#/selection/{{id}}"><img src="{{imageUrl id 'medium'}}" /></a>
        <h5>{{name}}</h5>
        <p class="muted">
          <a class='btn-link pull-right' data-hull-action='showDetails' data-hull-selection-id="{{id}}">details</a>
          <small>By {{actor.name}}</small>
        </p>
        
      </div>
    </li>
  {{/each}}
</ul>
<div data-hull-component="selection-details"></div>