<h1>Products</h1>
<ul class="nav nav-tabs nav-stacked">
  {{#each products}}
    <li>
      <a href="" data-hull-action="toggle" data-hull-product="{{id}}" class="list-group-item">
        <img src="{{extra.image}}" width="50px"/>
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>
