<ul class="hull-activity media-list">
  {{#each activities}}
    <li class="media">
      {{#if actor.picture}}
        <div class="pull-left">
          <img class="media-object img-circle" src="{{actor.picture}}" width="36px" />
        </div>
      {{/if}}

      <div class="media-body">
        <h6 class="media-heading">
          {{actor.name}}
          <p class="muted"><small>{{fromNow published}}</small></p>
        </h6>
        {{#ifEqual target.type "image"}}
          <a href="/#/selection/{{target.id}}"><img src="{{imageUrl target.id "small"}}"/></a>
        {{/ifEqual}}
        <h6>{{target.name}}</h6>
        {{content}}
      </div>
      </div>
    </li>
  {{/each}}
  {{#unless activities}}
    <li>
      <div class="alert">No activity</div>
    </li>
  {{/unless}}
</ul>


{{#if isPaged}}
  <ul class="pager">
    <li class="previous">
      <a href="#" data-hull-action="previousPage">&larr; Previous</a>
    </li>
    <li class="next">
      <a href="#" d data-hull-action="nextPage">Next &rarr;</a>
    </li>
  </ul>
{{else}}
  <button data-hull-action="fetchMore" class="btn btn-block">Fetch more...</button>
{{/if}}
